**/datos
**/modelos/modelo_merge.h5
**/modelos/modelos_entrenados
**/modelos/modelo_merge_checkpoint.h5
**/modelo_merge_subway.h5
**/modelos/prueba_01111_.h5
**/modelos/modelo_re-train.keras
**/__pycache__
**/modelos/modelo_merge_checkpoint.keras
**/modelos/modelo_gan_checkpoint.keras
**/modelos/modelo_autoencoder.keras
**/modelos/modelo_autoencoder_02.h5
**/modelos/modelo_afable.keras
**/modelos/model_acciones_f.keras
**/modelos/model_acciones_cp.keras
**/otros/modelo_vae_ch.keras
**/otros/variational_autoencode.keras
**/otros/variational_autoencode.keras
**/otros/variational_autoencoder.keras
**cod.zip


**/modelos/lightning_logs
**/modelos/Decisiontransform_model_no_return_to_go.pth
**/modelos/Decisiontransform_model_no_reward.pth
**/modelos/Decisiontransform_model_val_padding.pth
**/modelos/modelo_autoencoder_245_final.pth
**/modelos/modelo_autoencoder_512.h5
**/modelos/modelo_autoencoder_512.keras
**/modelos/encoder_model.h5
**/modelos/encoder_model.keras
**/modelos/Decisiontransform_model.pth
**/modelos/df_augementado.pkl
**/modelos/df_train_flatten.csv
**/modelos/df_valid_flatten.csv
